<h2>Welcome to Little Facebook!</h2>

<%= render 'partials/errors' %>

<h4>Please login</h4>

<%= form_for(:session, url: login_path) do |f| %>
<%=f.label :email %>
<%=f.email_field :email %>

<%=f.label :password %>
<%=f.password_field :password %>

<%=f.submit "Log in" %>

<%end%>
